.todoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: calc(100vh - 20%);
  width: 100%;
  max-width: 263px;
  overflow-y: auto;
  align-items:end;
  
  &::-webkit-scrollbar {
    display: none;
  }
}